@font-face {
	font-family: Whitney;
	src: url(res/Whitney.otf);
}

:root {
	--activity-card-background: var(--background-primary);
	--background-primary: #141414;
	--background-secondary: #111;
	--background-secondary-alt: #292929;
	--background-tertiary: #0c0c0c;
	--background-accent: #242424;
	--background-floating: #111;
	--background-modifier-hover: rgba(255, 255, 255, 0.01);
	--background-modifier-active: rgba(255, 255, 255, 0.03);
	--background-modifier-selected: rgba(255, 255, 255, 0.04);
	--background-modifier-accent: hsla(0, 0%, 100%, 0.06);
	--channeltextarea-background: var(--background-accent);
	--channels-default: #9f9f9f;
	--deprecated-card-bg: rgba(0, 0, 0, 0.2);
	--deprecated-card-editable-bg: rgba(0, 0, 0, 0.1);
	--deprecated-text-input-border-disabled: var(--background-tertiary);
	--background-message-hover: #00030;
	--header-secondary: #c9c9c9;
	--interactive-normal: #c8c8c8;
	--interactive-hover: #dcddde;
	--interactive-active: #fff;
	--interactive-muted: #747474;
	--offline-color: #3c3c3c;
	--scrollbar-thin-thumb: #202225;
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #202225;
	--scrollbar-auto-track: hsl(
		210,
		calc(var(--saturation-factor, 1) * 9.8%),
		20%
	);
	--scrollbar-auto-scrollbar-color-thumb: #202225;
	--scrollbar-auto-scrollbar-color-track: #2f3136;
	--text-muted: #b6b6b6;
	--text-normal: #fbfbfb;
	--toast-background: var(--background-primary);
	--toast-header: var(--background-tertiary);
	--toast-contents: var(--background-secondary);
	--toast-box-shadow: rgba(0, 0, 0, 0.2);
	--toast-border: var(--background-tertiary);
}
body {
	margin: 0;
	display: flex;
	flex-direction: row;
	height: 100%;
	font-family: Whitney;
	color: #fff;
}
.channel-icon {
	border-radius: 100%;
	width: 35px;
	height: 35px;
}
.dm-icon {
	display: block;
	width: 28px !important;
	height: 20px !important;
}
.server-item {
	position: relative;
	text-align: center;
	color: white;
}
.server-item:hover > .server-icon {
	cursor: pointer;
	transition: border-radius 100ms;
	box-shadow: 0px 0px 0px 2px #fff;
	border-radius: 40%;
}
.server-imgtext {
	margin-top: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
.server-icon {
	border-radius: 100%;
	width: 40px;
	height: 40px;
	margin-top: 6px;
}
.server-item [selected] {
	box-shadow: 0px 0px 0px 2px #fff;
	border-radius: 40%;
}
.server-item [servernotif] {
	box-shadow: 0px 0px 0px 2px #fcc;
}
#server-list {
	height: 100%;
	width: 57px;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	overflow-y: scroll;
	background: var(--background-tertiary);
}
#channel-list {
	color: var(--channels-default);
	width: 192px;
	height: 100%;
	flex-shrink: 0;
	overflow-y: scroll;
	background: var(--background-secondary);
}
#channel-list .channel-item {
	word-wrap: break-word;
	white-space: nowrap;
	overflow: hidden;
	word-break: break-word;
	text-overflow: ellipsis;
	padding: 8px 5px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	margin-left: 4px;
	margin-right: 4px;
	cursor: pointer;
}
#channel-list .channel-item[selected] {
	background-color: var(--background-modifier-selected);
}
#channel-list .channel-item:hover:not([selected]) {
	background-color: var(--background-modifier-hover);
}
#channel-list .channel-item .channel-title {
	font-size: 100% !important;
	font-family: Whitney;
	line-height: 16px !important;
}
#channel-list::-webkit-scrollbar,
#server-list::-webkit-scrollbar {
	display: none;
}
.error {
	border: 1px solid red !important;
}
#channel-list .channel-add {
	padding-bottom: 15px;
	display: flex;
}
#channel-list .channel-add input {
	width: 100%;
	background: #23272a;
	padding: 4px 6px;
	border-bottom: 1px solid #000;
}
#channel-list .channel-add button {
	border: 0.5px solid #000;
	outline: 0;
	background-color: var(--background-tertiary);
	color: #fff;
}
#channel-list .channel-add button:hover {
	transition: background-color 0.2s;
	background-color: var(--background-secondary-alt);
	color: #fff;
}
#channel-list .channel-add button:active {
	background-color: var(--background-primary);
}
.channel-newmessage {
	color: var(--interactive-active);
}
#channel-open {
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: var(--background-primary);
}
#channel-open .channel-openinner {
	flex-grow: 1;
	overflow-y: scroll;
	overflow-x: hidden;
}
.channel-openinner::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}
.channel-openinner::-webkit-scrollbar-corner {
	background-color: transparent;
}
.channel-openinner::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-auto-thumb) !important;
	min-height: 40px;
}
.channel-openinner::-webkit-scrollbar-thumb,
.channel-openinner::-webkit-scrollbar-track {
	border: 4px solid transparent;
	background-clip: padding-box;
	border-radius: 8px;
}
.channel-openinner::-webkit-scrollbar-track {
	background-color: var(--scrollbar-auto-track);
}
#channel-open .channel-textboxcontain input {
	width: 100%;
}
.channel-message {
	margin-top: 1.0625rem;
	min-height: 2.75rem;
}
.channel-text {
	margin-left: 5px;
}
.channel-dm {
	font-size: 14px;
}

.channel-topic {
	color: var(--text-muted);
}

#channel-open .channel-openinner .username {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.375rem;
	margin-left: 40px;
	cursor: pointer;
}
#channel-open .channel-openinner .username::after {
	content: "\a";
}
.date {
	cursor: default;
	color: var(--text-muted);
	font-size: 0.75rem;
	line-height: 1.375rem;
	font-weight: normal;
}
div.channel-text {
	margin-top: -40px;
}
#channel-open .channel-openinner .channel-content {
	margin-left: 40px;
	font-size: 1rem;
	overflow-wrap: anywhere;
	display: inline-block;
}
.timestamp {
	background-color: var(--background-modifier-accent);
}
.mention {
	background: hsla(235, calc(0.6 * 85.6%), 64.7%, 0.3);
	color: hsl(236, calc(0.6 * 83.3%), 92.9%);
}
#channel-open .channel-textboxcontain {
	display: flex;
	justify-content: center;
}
#channel-open .channel-textboxcontain .textbox {
	color: #fff;
	background: var(--background-accent);
	border-radius: 8px;
	margin: 10px;
	padding: 8px 12px;
	flex-grow: 1;
}
.channel-guildtopname {
	padding: 2vh;
	border-bottom: 2px solid #fff;
	position: sticky;
}
textarea,
select,
input,
button {
	outline: 0;
}
input {
	color: #fff;
	border: none;
}
