body {
	margin: 0;
	display: flex;
	flex-direction: row;
	height: 100%;
}

.channel-icon {
	width: 25px;
	height: 25px;
}

#channel-list {
	width: 150px;
	height: 100%;
	flex-shrink: 0;
	overflow-y: scroll;
}
#channel-list .channel-add {
	padding-bottom: 15px;
}
#channel-list .channel-add input {
	width: 100%;
}
#channel-list .channel-item {
	word-wrap: break-word;
	white-space: nowrap;
	overflow: hidden;
	word-break: break-word;
	text-overflow: ellipsis;
}
#channel-list .channel-item[selected] {
	background: #eee;
}
#channel-list .channel-item .channel-recipientcount {
	display: none;
}
#channel-list .channel-item.channel-group .channel-recipientcount {
	display: inline-block;
}

#channel-open {
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
#channel-open .channel-openinner {
	flex-grow: 1;
	overflow-y: scroll;
}
#channel-open .channel-openinner .channel-name::after {
	content: "\a";
	white-space: pre;
}
#channel-open .channel-openinner .channel-date {
	display: none;
}
#channel-open .channel-openinner .channel-content {
	margin-left: 45px;
}
#channel-open .channel-textboxcontain input {
	width: 100%;
}

.channel-newmessage {
	background: #ddd;
}
body {
	color: white;
	font-family: sans-serif;
}

.channel-guildtopname {
	padding: 2vh;
	border-bottom: 2px solid white;
	position: sticky;
}

textarea,
select,
input,
button {
	outline: none;
}
input {
	color: white;
	border: none;
}

.channel-icon {
	border-radius: 100%;
	width: 35px;
	height: 35px;
}

#channel-list {
	background: #2c2f33;
}
#channel-list .channel-add input {
	background: #23272a;
	padding: 4px 6px;
	border-bottom: 1px solid black;
}
#channel-list .channel-item {
	padding: 10px 5px;
	display: flex;
	align-items: center;
}
#channel-list .channel-item[selected] {
	background: #23272a;
}

#channel-open {
	background: #36393f;
}
#channel-open .channel-openinner .channel-message {
	display: flex;
	padding: 7px 14px;
}
.channel-text {
	margin-left: 5px;
}
#channel-open .channel-openinner .channel-name {
	font-weight: bold;
	font-size: 12px;
}
#channel-open .channel-openinner .channel-content {
	margin-left: 0px;
	font-size: 16px;
}
#channel-open .channel-textboxcontain {
	display: flex;
	justify-content: center;
}
#channel-open .channel-textboxcontain .textbox {
	background: rgba(114, 118, 125, 0.3);
	margin: 10px;
	padding: 8px 12px;
	flex-grow: 1;
}

.channel-newmessage {
	background: #ddd;
}
